---
// 
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro'; 
import Applications from '../components/Applications.astro'; 
import Equipment from '../components/Equipment.astro';
import ContactBanner from '../components/ContactBanner.astro';

import { getCollection } from 'astro:content';
const todosLosProductos = await getCollection('productos');
---

<Layout title="Gravocom">
    <Hero /> 
    <main>
      <TrustBar /> 
      <Applications />
      <Equipment />
      <ContactBanner />
  </main>
</Layout>