---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro'; 
// src/layouts/Layout.astro
import SEO from '../components/SEO.astro';
import { SEO_DEFAULTS } from '../constants/seo';

const { 
  title = SEO_DEFAULTS.title, 
  description = SEO_DEFAULTS.description 
} = Astro.props;

---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO title={title} description={description} />
    </head>
<body>
    <Navbar />
    <slot />
    <Footer />
</body>
</html>